*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_container{
    width: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: calc(500px / 10);
    height: calc(500px / 10);
    border: 1px solid black;
}